<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>お見積り情報入力</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
<nav th:insert="header.html :: header"></nav>
<div class="container">
  <form th:action="@{/submit}" th:object="${userOrderForm}" class="form-horizontal" method="post">
    <div class="progress-icon">
      <img src="../img/progress_input.svg" />
    </div>
    <div class="page-title">
      お見積り情報入力
    </div>
    <div class="col-sm-12">
      <fieldset>
        <div class="sub-title">お客様情報</div>
        <div class="form-group">
          <label for="customerName">氏名</label>
          <input type="text" id="customerName" name="customerName" th:field="*{customerName}" class="form-control" value="山田太郎" th:classappend="${#fields.hasErrors('customerName')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{customerName}')}">
            <li th:errors="*{customerName}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="tel">連絡先TEL</label>
          <input type="tel" id="tel" name="tel" th:field="*{tel}" class="form-control" value="03-1234-5678" th:classappend="${#fields.hasErrors('tel')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{tel}')}">
            <li th:errors="*{tel}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="email">連絡先メールアドレス</label>
          <input type="text" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com" th:classappend="${#fields.hasErrors('email')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{email}')}">
            <li th:errors="*{email}" class="warning"></li>
          </ul>
        </div>
        <div class="sub-title">集荷元・お届け先・引っ越し日</div>
        <div class="form-group">
          <label for="oldPrefectureId">集荷元住所（都道府県）</label>
          <select id="oldPrefectureId" name="oldPrefectureId" class="form-control" th:classappend="${#fields.hasErrors('oldPrefectureId')} ? 'haserror'">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
          <ul th:if="${#fields.hasErrors('*{oldPrefectureId}')}">
            <li th:errors="*{oldPrefectureId}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="oldAddress">集荷元住所（市区町村以下）</label>
          <input type="text" id="oldAddress" name="oldAddress" th:field="*{oldAddress}"
                 class="form-control" value="新宿区西新宿1-1-1" th:classappend="${#fields.hasErrors('oldAddress')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{oldAddress}')}">
            <li th:errors="*{oldAddress}" class="warning"></li>

          </ul>
        </div>
        <div class="form-group">
          <label for="newPrefectureId">お届け先住所（都道府県）</label>
          <select id="newPrefectureId" name="newPrefectureId" class="form-control" th:classappend="${#fields.hasErrors('newPrefectureId')} ? 'haserror'">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
          <ul th:if="${#fields.hasErrors('*{newPrefectureId}')}">
            <li th:errors="*{newPrefectureId}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="newAddress">お届け先住所（市区町村以下）</label>
          <input type="text" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control"
                 value="札幌市南区1" th:classappend="${#fields.hasErrors('newAddress')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{newAddress}')}">
            <li th:errors="*{newAddress}" class="warning"></li>
          </ul>
        </div>

      </fieldset>
      <fieldset>
      <div class="sub-title">お荷物情報</div>
        <div class="form-group">
          <label for="box">段ボールの個数</label>
          <input type="text" id="box" name="box" th:field="*{box}" class="form-control" value="10" th:classappend="${#fields.hasErrors('box')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{box}')}">
            <li th:errors="*{box}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="bed">ベッドの個数</label>
          <input type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="3" th:classappend="${#fields.hasErrors('bed')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{bed}')}">
            <li th:errors="*{bed}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="bicycle">自転車の個数</label>
          <input type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="1" th:classappend="${#fields.hasErrors('bicycle')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{bicycle}')}">
            <li th:errors="*{bicycle}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="washingMachine">洗濯機の個数</label>
          <input type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control"
                 value="1" th:classappend="${#fields.hasErrors('washingMachine')} ? 'haserror'"/>
          <ul th:if="${#fields.hasErrors('*{washingMachine}')}">
            <li th:errors="*{washingMachine}" class="warning"></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="washingMachineInstallation">洗濯機の設置工事申し込み</label>
          <select id="washingMachineInstallation" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}" th:classappend="${#fields.hasErrors('washingMachineInstallation')} ? 'haserror'">
            <option th:value="false" th:text="なし">なし</option>
            <option th:value="true" th:text="あり">あり</option>
          </select>
          <ul th:if="${#fields.hasErrors('*{washingMachineInstallation}')}">
            <li th:errors="*{washingMachineInstallation}" class="warning"></li>
          </ul>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="backToTop" class="btn-back">TOPへ戻る</button>
          <button type="submit" name="confirm" class="btn btn-primary">ご入力内容の確認へ</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="../js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>